{% extends 'base.html.twig' %}

{% block body %}
<div class="jumbotron">
  <p class="lead">You don't know where to go for lunch, check the restaurants your co-workers like?<br /> You want to share a restaurant with your co-workers?</p>
  <p>
    <a class="btn btn-primary" href="/restaurant-finder/random" role="button">Find a random restaurant</a>
    <a class="btn btn-primary" href="/restaurant-finder/notTried" role="button">Find a restaurant not tried yet</a>
  </p>
        <p>
        <a class="btn btn-lg btn-success" href="/restaurant/new" role="button">Add a restaurant</a></p>
        </p>
</div>

<div class="row marketing latest-restaurants">
  <h3>Latest restaurants</h3>
                              <div class="restaurant">
                <div class="pull-left">
                  <img class="img-thumbnail" src="https://maps.googleapis.com/maps/api/staticmap?center=2 Rue De La Pepiniere 75008&zoom=14&size=250x150&markers=2 Rue De La Pepiniere 75008&key=AIzaSyCQSkhpJVncuLv5WN-iE8gPt7zFqbGtrR0" />
                </div>
                <div class="pull-left resto-details">
                  <h4><a href="/restaurant/1">231 East Street</a></h4>
                  <p>2 Rue De La Pepiniere 75008 Paris France</p>
                  <p>
                      <button type="button" class="btn btn-default">
                        <span class="glyphicon glyphicon-thumbs-up"></span> 8
                      </button>
                      <button type="button" class="btn btn-default">
                        <span class="glyphicon glyphicon-thumbs-down"></span> 2
                      </button>
                  </p>
                </div>
                <div class="clearfix"></div>
                </div>

                              <div class="restaurant">
                <div class="pull-left">
                  <img class="img-thumbnail" src="https://maps.googleapis.com/maps/api/staticmap?center=91, Rue de la Victoire 75009&zoom=14&size=250x150&markers=91, Rue de la Victoire 75009&key=AIzaSyCQSkhpJVncuLv5WN-iE8gPt7zFqbGtrR0" />
                </div>
                <div class="pull-left resto-details">
                  <h4><a href="/restaurant/2">Wok Addict</a></h4>
                  <p>91, Rue de la Victoire 75009 Paris France</p>
                  <p>
                      <button type="button" class="btn btn-default">
                        <span class="glyphicon glyphicon-thumbs-up"></span> 10
                      </button>
                      <button type="button" class="btn btn-default">
                        <span class="glyphicon glyphicon-thumbs-down"></span> 0
                      </button>
                  </p>
                </div>
                <div class="clearfix"></div>
                </div>

                              <div class="restaurant">
                <div class="pull-left">
                  <img class="img-thumbnail" src="https://maps.googleapis.com/maps/api/staticmap?center=2 Rue De La Pepiniere 75008&zoom=14&size=250x150&markers=2 Rue De La Pepiniere 75008&key=AIzaSyCQSkhpJVncuLv5WN-iE8gPt7zFqbGtrR0" />
                </div>
                <div class="pull-left resto-details">
                  <h4><a href="/restaurant/3">231 East Street</a></h4>
                  <p>2 Rue De La Pepiniere 75008 Paris France</p>
                  <p>
                      <button type="button" class="btn btn-default">
                        <span class="glyphicon glyphicon-thumbs-up"></span> 8
                      </button>
                      <button type="button" class="btn btn-default">
                        <span class="glyphicon glyphicon-thumbs-down"></span> 2
                      </button>
                  </p>
                </div>
                <div class="clearfix"></div>
                </div>

        </div>
{% endblock %}