{% import 'macros.html.twig' as macros %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>Restaurant details</title>
        <link rel="icon" type="image/x-icon" href="/favicon.ico" />
        <link rel="stylesheet" href="/bootstrap/css/bootstrap.css" />
        <link rel="stylesheet" href="/bootstrap/css/bootstrap-theme.css" />
        <link rel="stylesheet" href="/css/theme.css" />
        <link rel="stylesheet" href="/css/app.css" />
    </head>
    <body>

    <div class="container">
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li {% if 'restaurant_list' == app.request.attributes.get('_route') %}class="active"{% endif %}><a href="/">Home</a></li>
            <li {% if 'coworker_login' == app.request.attributes.get('_route') %}class="active"{% endif %}><a href="/login">Login</a></li>
            <li {% if 'coworker_register' == app.request.attributes.get('_route') %}class="active"{% endif %}><a href="/register">Register</a></li>
          </ul>
        </nav>
        <h3 class="text-muted">WhereToEat</h3>
      </div>

      <div id="body">

        {{ macros.alert() }}

        {% block body %}

        {% endblock %}
      </div>
      <footer class="footer">
        <p>&copy; 2021 WhereToEat, Inc.</p>
      </footer>
    </div>
    <script src="/js/jquery.min.js"></script>
    <script src="/bootstrap/js/bootstrap.js"></script>
</body>
</html>